/* default margin & padding */
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 100%;
	font-family: Arial;
	background: url("../images/woodbackground.jpg") repeat;
}
img{
	max-width:100%;
}

/* hide bottom menu for full site*/
.bottom-menu{
	visibility: hidden;
}
